aiosmtplib==5.1.2
beautifulsoup4==4.15.0
bleach==6.4.0
itsdangerous==2.2.0
python-dotenv==1.2.2
python-socketio==5.16.4
quart==0.21.0
quart_auth==0.11.0
quart_bcrypt==0.0.9
quart_cors==0.8.0
SQLAlchemy==2.0.52
uvicorn==0.52.3

gunicorn==24.0.0